#fixtures {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

#display-block-1 {
  display: block;
}

#display-none-1 {
  display: none;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#scroll div {
  background: #CCCCCC none repeat scroll 0 0;
  border: 3px solid #666666;
  margin: 5px;
  padding: 5px;
  position: relative;
  width: 200px;
  height: 100px;
  overflow: auto;
}

#scroll p {
  margin: 10px;
  padding: 5px;
  border: 2px solid #666;
  width: 1000px;
  height: 1000px;
}
