#fixtures {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

#display-block-1 {
  display: block;
}

#display-none-1 {
  display: none;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
